@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Roboto:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "DM Sans";
}



.releaseDate{
    color: var(--gray-400, #9CA3AF);
font-size: 12px;
font-style: normal;
font-weight: 700;
}
.movieCard{
    display: grid;
    gap: 12px;
    transition: 2s;
}
.movieCard:hover{
    animation: movieAnimation 2s;
    cursor: pointer;
    
}


@keyframes movieAnimation {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-20px);
    }
}

.movieTitle{
    color: var(--gray-900, #111827) !important;

font-size: 18px !important;
font-style: normal !important;
font-weight: 700 !important;
}
.imdb,.rottenTomatoes{
    color: var(--gray-900, #111827);
    display: inline-flex;
align-items: center;
gap: 10px;
font-size: 12px;
font-weight: 400;
line-height: 12px; 
}
.rating{
    display: flex;
    justify-content: space-between;
    
}
.movieGenre{
    color: var(--gray-400, #9CA3AF);

font-size: 12px;
font-style: normal;
font-weight: 700;
}
.poster{
    position:relative;
}
.heart{

    border-radius: 50%;
    padding: .2rem;
    position: absolute;
    top: 20px;
    right: 20px;
}
.heart:hover{
    cursor:pointer;
}
@media screen and (max-width:600px){
    .movieList2 {
        display: grid !important;
        grid-template-columns: 350px !important;
        gap: 40px !important;
justify-content: center !important;
        margin-top: 0.625rem;
    }
    
    .movieRecommendations p{
        margin-top: 0px !important;
    }
}
@media screen and (min-width:600px)and (max-width:992px){
    .movieList2 {
        display: grid !important;
      grid-template-columns: 350px auto  !important;
      gap: 40px !important;
      justify-content: center !important;
    }
    .movieList2 .poster img:nth-child(1){
        width: 350px !important;
    }
    .movieContent{
        width: 100% !important; 
    }
    .movieRecommendations p{
        margin-top: 0px !important;
    }
    .movieCard{
        max-width: 350px !important;
    }
}

